
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #B2D7D0;
  }
  
  .signup-box {
    background: #ffffff;
    padding: 60px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; 
    text-align: center;
  }
  
  .signup-title {
    margin-bottom: 20px;
    font-size: 2.5rem; 
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px; 
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%; 
    padding: 15px; 
    font-size: 1.2em; /* Increase font size */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin-bottom: 15px; /* Increased margin */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background: #333; /* Black color */
    color: white;
  }
  
  .btn-primary:hover {
    background: #555;
  }
  
  .error-message {
    margin-top: 15px; /* Increased margin */
    padding: 15px; /* Increased padding */
    background: #ffdddd; /* Red color */
    color: #a00;
    border-radius: 5px;
  }
  