/* src/components/Header/index.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A2F5C;
  padding: 10px 20px;
  color: white;
  position: relative;
  z-index: 1;
}

.header-title h1 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

.header-search {
  position: relative;
}

.header-search input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.header-auth .btn {
  margin: 0 10px;
}

.header-auth .btn-info {
  background-color: #000000;
  color: white;
}

.header-auth .btn-light {
  background-color: #f8f9fa;
  color: black;
}

/* Suggestions styling */
.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 2;
}

.suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.game-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.game-details {
  display: flex;
  flex-direction: column;
}

.game-details h4 {
  margin: 0;
  font-size: 1em;
  color: #000;
}

.add-to-library-buttons {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.add-to-library-buttons button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.add-to-library-buttons button:hover {
  background-color: #333;
}

/* Styles for single game page */
.add-to-library-buttons button:nth-child(1) {
  background-color: #ffdddd;
  /* Red for Press Start */
}

.add-to-library-buttons button:nth-child(2) {
  background-color: #ddddff;
  /* Blue for Loading */
}

.add-to-library-buttons button:nth-child(3) {
  background-color: #ddffdd;
  /* Green for Well Played */
}